<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
</head>
<body>
    <main>
        <h1><%= title %></h1>
        <p>Bem-vindo ao <strong><%= title %></strong></p>
        <a href="/curriculo">Meu currículo</a>
    </main>

    <footer>
        <p>Versão: <%= version %></p>
    </footer>
</body>
</html>